<header id="header_wrap">
  {{#link-to "application"}}
    <div id="header_upper">
      <h1> Header </h1>
    </div>
  {{/link-to}}
  <div id="header_lower">
    <ul id="header_list" class="naked_list">
      <li>
        Some
      </li>
      <li>
        Random
      </li>
      <li>
        items
      </li>
    </ul>
  </div>
</header>
